body {
    background: #eee;
    font-family: "Trebuchet MS", sans-serif;
}

h1 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    background-color: #fff;
    text-align: center;
}

.categories {
    background-color: #ff9090;
    font-weight: 1000;
    color: #fff;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin: auto;
    padding: 8px;
    border: 3px solid #000;
    width: 400px;
}

#names {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin: auto;
    padding: 8px;
    display: block;
    background-color: #eee;
}