body {
    font-family: "Trebuchet MS", sans-serif;
    color: #000;
    font-size: 32px;
    font-weight: 500;
    background-color: #fff;
}

.categories {
    background-color: #ff9090;
    font-weight: 1000;
    color: #fff;
    font-size: 28px;
    text-decoration: underline;
    text-align: center;
}

#names {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-align: center;
}